html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

form {
  width: 50%;
  margin: 0 auto;
}

.selectFields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.selectField {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-right: 150px;
}

.selectField:last-of-type {
  margin-right: 0;
}

.selectField h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

#offices {
  width: 180px;
  height: 40px;
}

label[for="home"] {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

#map {
  height: -webkit-calc(100% - 117px);
  height: calc(100% - 117px);
}